<div class="col-md-4 col-md-offset-4">
    <div class="well" ng-show="vm.profile">
        <form role="form" ng-submit="vm.update()">
            <div class="form-group">
                <label for="settings_email">Email</label>
                <input type="email" class="form-control" id="register_email" ng-model="vm.email" placeholder="ex. bruce.willis@filmruiner.com" />
            </div>

            <div class="form-group">
                <label for="settings_password">New Password</label>
                <input type="password" class="form-control" id="settings_password" ng-model="vm.profile.password" placeholder="ex. cookie123">
            </div>


            <div class="form-group">
                <label for="settings_confirm-password">Confirm Password</label>
                <input type="password" class="form-control" id="settings_confirm-password" ng-model="vm.profile.confirm_password" placeholder="ex. cookie123">
            </div>
                

            <div class="form-group">
                <label for="settings_username">Username</label>
                <input type="text" class="form-control" id="settings_username" ng-model="vm.profile.username" placeholder="ex. brucewillis">
            </div>

            <div class="form-group">
                <label for="settings_tagline">Tagline</label>
                <textarea class="form-control" id="settings_tagline" ng-model="vm.profile.tagline" placeholder="ex. I am the ruiner of all films" />
            </div>

            <div class="form-group">
                <button type="submit" class ="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger pull-right" ng-click="vm.destroy()">Delete Account</button>
            </div>
        </form>
    </div>
</div>
